<<<<<<< HEAD
﻿<a asp-action="Index" asp-controller="Schedules" class="btn btn-info">View Schedule</a>
<a asp-action="Index" asp-controller="Movies" class="btn btn-info">View Movie</a>
=======
﻿@*<a asp-action="Index" asp-controller="Schedules" class="btn btn-info">View Schedule</a>*@
>>>>>>> 2f555f28601694e0fadb5bf127e5f88a988e134d
