<h1>Contact Us</h1>

<address>
    2110 Speedway<br />
    Austin, TX 78705<br />
    <strong>Phone:</strong>
    512.471.5921
</address>
<address>
    <strong>Support:</strong>   <a href="mailto:fa23group5mis333k@gmail.com">fa23group5mis333k@gmail.com</a><br />
</address>

<div class="align-self-sm-center">
    <img class="rounded mx-auto d-block" width="355" height="320"
         src="~/images/KaraDam.png" alt="A group of hopeful college students" title="Creators of Flick Chicks'" />
</div>